* {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS, sans-serif;
}

body {
    font-size: 1em;
    background: white;
}

footer p, footer a {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    color: aliceblue;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

header, footer {
    background: #0174DF;
    padding: 15px;
    text-align: center;
}

aside, nav {
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 3em;
    padding: 20px;
    color: white;
}

a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

a:hover {
    text-decoration: none;
}

header a:link, header a:visited {
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
}

header a:hover {
    color: #0174DF;
    background-color: white;
}

main {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

main section {
    width: 100%;
}

main section figure img {
    margin-top: 12.1%;
    width: 100%;
}

.section-paragraph {
    /*padding: 20px;
    margin: 20px;
    */
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-paragraph {
    font-size: 1.3em;
    padding: 10px;
    width: 50%;
}

h2 {
    color: #0174DF;
    font-family: Trebuchet MS, sans-serif;
    padding: 10px;
}

.article-paragraph p, .article-paragraph h2, .article-paragraph h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.aside-nav-services {
    padding: 30px;
}

.nav-services {
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-services a {
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: #0174DF;
}

.nav-services a:link, .nav-services a:visited {
    color: #0174DF;
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-services a:hover {
    color: white;
    background-color: #0174DF;
    text-decoration: none;
}

footer nav a:hover {
    color: #0174DF;
    background-color: white;
    border-radius: 10px;
}

table {
    padding: 10px;
    justify-content: space-between;
    justify-content: center;
}

table thead {
    font-weight: bold;
    color: #0174DF;
}

thead tr {
    justify-content: center;
    border: 1px solid blue;
}

thead, tbody, tr, th, td {
    padding: 10px;
    width: 250px;
}

button {
    outline: none;
    font-size: 1em;
    background-color: white;
    border: 2px solid #0174DF;
    border-radius: 10px;
    color: #0174DF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 15%;
}

/*----------*/

button:active {
    background-color: #0174DF;
    color: white;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
    transition-duration: 0.1s;
}

/*----------*/

button:hover {
    background-color: #0174DF;
    /* Green */
    color: white;
}

#buttons-zonas {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#table-bairros {
    display: flex;
    justify-content: center;
}