* {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS, sans-serif;
}

body {
    height: 100vh;
    font-size: 1em;
    background: white;
}

footer p, footer a {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    color: aliceblue;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

header, footer {
    background: #0174DF;
    padding: 15px;
    text-align: center;
}


aside, nav {
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 3em;
    padding: 20px;
    color: white;
}

a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

a:hover {
    text-decoration: none;
}

header a:link, header a:visited {
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
}

header a:hover {
    color: #0174DF;
    background-color: white;
}

main figure img {
    margin-top: 12.1%;
    width: 100%;
    display: inline-block;
}

.section-images{
    
    font-size: 1em;
    text-align: center;
    align-items: center;
    margin: 50px;
    
   
}

.article-images {
  
    width: auto;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px ;
    
}

.article-images figure {
    padding: 20px;
   
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.article-images figure img {
    width: 40vw;
    height: 60vh;
    border-radius: 10px;
    margin: 0;
}

.article-images figure figcaption {
    width: 30vw;
    height: 25vh;
    border: 1px solid #0174DF;
    border-radius: 10px;
    padding: 30px;
    margin: 0;
}

.article-images figure figcaption hr {
    
    height: 1px;
    border: 0;
    border-top: 1px solid #0174DF;
    margin: 1em 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    padding: 5px;
}

h2 {
    color: #0174DF;
    font-family: Trebuchet MS, sans-serif;
    padding: 10px;
}

.section-images h2 {
    font-size: 2.5em;
}

.aside-nav-services h2 {
    font-size: 24px;
   
}

.nav-services {
    
    width: auto;
    display: flex;
    justify-content: space-around;
}

.nav-services a {
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: #0174DF;
}

.nav-services a:link, .nav-services a:visited {
    color: #0174DF;
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-services a:hover {
    color: white;
    background-color: #0174DF;
    text-decoration: none;
}

footer nav a:hover {
    color: #0174DF;
    background-color: white;
    border-radius: 10px;
}